# PostgreSQL - Variáveis para Docker Compose inicializar o container
POSTGRES_USER=admin
POSTGRES_PASSWORD=senhabancolovetravel
POSTGRES_DB=love_travel_db

# PostgreSQL - Variáveis para o Backend se conectar
DB_HOST=postgres_db
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=senhabancolovetravel
DB_DATABASE=love_travel_db

# MongoDB
MONGO_URI=mongodb://admin:senhamongolovetravel@mongo_db:27017/love_travel?authSource=admin
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=senhamongolovetravel

# Redis
REDIS_HOST=redis_cache
REDIS_PORT=6379

# JWT
JWT_SECRET=fae3c15475eb1ad67d4bc5b99fc76be0330f766fb1b594df4a85f1e48993a984

# Server
PORT=3000
NODE_ENV=development
